{% extends 'adminmode/base.html' %}

{% block content %}
    <div class="container mt-4">
        <!--HEADER-->
        <div class = "container d-flex justify-content-between align-items-center">
            <h2>User List</h2>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Per Day</button>
                <button type="button" class="btn btn-warning">Per Week</button>
                <button type="button" class="btn btn-warning">Per Month</button>
                <button type="button" class="btn btn-warning">Per Year</button>
                <button type="button" class="btn btn-warning">Date Range</button>
              </div>
        </div>
    </div>
{% endblock %}