{% extends 'adminmode/base.html' %}


{% block content %}
<div class="container col-lg-9 mb-5 d-flex flex-column flex-md-row justify-content-md-between gap-5 mt-4">
    <div class = "col-12 col-md-9">
        
        <!--USERS TABLE-->
        <div class = "mb-5">
            <div class="container d-flex align-items-center mb-4 p-0">
                <h2 class = "me-3">User Reports</h2>
                <div>
                    <a href="{% url 'admin-full-users' %}" class = "btn btn-warning btn-sm">Full Report</a>
                </div>
            </div>
            <span>Total Users: {{ users.count }}</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Staff</th>
                        <th>Superuser</th>
                        <th>Last Login</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class = "text-break">{{ user.username }}</td>
                            <td class = "text-break">{{ user.email }}</td>
                            <td class = "text-break">{{ user.is_staff }}</td>
                            <td class = "text-break">{{ user.is_superuser }}</td>
                            <td class = "text-break">{{ user.last_login }}</td>
                            <td class = "text-break">{{ user.date_joined }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--USERS TABLE END-->


        <!--ACHIEVEMENTS-->
        <div>
            <div class = "container d-flex align-items-center mb-4 p-0">
                <h2 class = "me-3">Achievements</h2>
                <div>
                    <a href="" class = "btn btn-warning btn-sm">Full Report</a>
                </div>           
            </div>
            <span>Total Achieved: 0</span>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Staff</th>
                        <th>Superuser</th>
                        <th>Last Login</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class = "text-break">{{ user.username }}</td>
                            <td class = "text-break">{{ user.email }}</td>
                            <td class = "text-break">{{ user.is_staff }}</td>
                            <td class = "text-break">{{ user.is_superuser }}</td>
                            <td class = "text-break">{{ user.last_login }}</td>
                            <td class = "text-break">{{ user.date_joined }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!--ACTIVITY LOGS-->
    <div class = "col-md-3">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class = "d-flex justify-content-between align-items-center">
                        Activity Logs
                        <a href="" class = "btn btn-warning btn-sm">Full Report</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in log_entries %}
                <tr>
                    <td class = "text-break">{{ entry }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--ACTIVITY LOGS END-->
</div>
{% endblock %}